@keyframes luzFundo {
    50%{
        box-shadow: rgba(255, 255, 5, 0.3);
    }
    100% {
        box-shadow: rgba(255, 255, 5, 0.5);
    }
}

@media screen and (max-width: 480px){
body {
    display: flex;
    justify-content: center;
    background-image: url(logo.jpeg);
    background-position: center;
    object-fit: cover;
    image-rendering: optimizeQuality;
    image-resolution: 100%;
}

#interface {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(25px);
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        height: fit-content;
        width: 80%;
        display: flex;
        justify-items: center;
}

#titulo {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

#opcoes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    margin: 0 10px 5px 10px;
}

ul {
    padding: 0;
    margin: 0;
}

legend{
    display: flex;
    justify-content: center;
}

.instrumento {
    display: flex;
    width: 100px;
    height: 80px;
    border: solid 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex: 1 1 100px;
    justify-content: center;
}

.instrumento h3:hover {
    animation: luzFundo 2s infinite;
}
}